<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FlickrSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FlickrSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<FlickrSync.Properties.Settings>
			<setting name="Children" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FlickrToken" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="ItemLimit" serializeAs="String">
				<value>70</value>
			</setting>
			<setting name="LastFolder" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="LocalInfoXml" serializeAs="String">
				<value>&lt;FlickrSync&gt;&lt;/FlickrSync&gt;</value>
			</setting>
			<setting name="LogFile" serializeAs="String">
				<value>.log</value>
			</setting>
			<setting name="LogLevel" serializeAs="String">
				<value>LogBasic</value>
			</setting>
			<setting name="MessageId" serializeAs="String">
				<value>090130_0000</value>
			</setting>
			<setting name="MessageLevel" serializeAs="String">
				<value>MessagesAll</value>
			</setting>
			<setting name="Method" serializeAs="String">
				<value>SyncFilename</value>
			</setting>
			<setting name="NoDelete" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NoDeleteTags" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OAuthToken" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="OrderType" serializeAs="String">
				<value>OrderDefault</value>
			</setting>
			<setting name="ProxyHost" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="ProxyPass" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="ProxyPort" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="ProxyUse" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyUser" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="UseThumbnailImages" serializeAs="String">
				<value>False</value>
			</setting>
		</FlickrSync.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<FlickrSync.Properties.Settings>
			<setting name="Extensions" serializeAs="String">
				<value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
		&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
		  &lt;string&gt;jpg&lt;/string&gt;
		  &lt;string&gt;jpeg&lt;/string&gt;
		  &lt;string&gt;gif&lt;/string&gt;
		  &lt;string&gt;png&lt;/string&gt;
		  &lt;string&gt;tif&lt;/string&gt;
		  &lt;string&gt;tiff&lt;/string&gt;
		  &lt;string&gt;bmp&lt;/string&gt;
		&lt;/ArrayOfString&gt;</value>
			</setting>
			<setting name="FlickrApiKey" serializeAs="String">
				<value>99835d77b01b776f3115b56180c6c4f4</value>
			</setting>
			<setting name="FlickrShared" serializeAs="String">
				<value>3433f92c86ec38f3</value>
			</setting>
			<setting name="HelpMain" serializeAs="String">
				<value>http://flickrsync.freehostia.com/index.htm</value>
			</setting>
			<setting name="HelpProperties" serializeAs="String">
				<value>http://flickrsync.freehostia.com/index_properties.htm</value>
			</setting>
			<setting name="MessageUrl" serializeAs="String">
				<value>http://flickrsync.freehostia.com/message.htm</value>
			</setting>
		</FlickrSync.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
